$colorFoneHero: #F1E4E6;
$colorSelect: #F16D7F;
$widthSite: 1140px;
$blackBlock: #222;
$cardtext: #5D5D5D;
$gapGrid: 30px;
$colorText: #000;
$colorFilter: #6F6E6E;
$colorFaceText: #FBFBFB;
$widthBurgerMenu: 232px;